<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TokenRequestEndpointUrl" value="https://test.salesforce.com/services/oauth2/token" />
    <add key="ConsumerKey" value="3MVG9hq7jmfCuKffChKOlfmfKJWcTA9tGCOW0Em0_35MAC0OJX6Jx6WWMpvYMSgxXifoMdlUGgFGxnIm1ggj_" />
    <add key="ConsumerSecret" value="2175492959850877356" />
    <add key="Username" value="svc-sfdc-cpaistpcvp-integration@aon.com.integra01" />
    <add key="Password" value="AON12345$INT1MOlDt4hwd6SrGJ46GGJ2HOQ" />
    <add key="OrganizationId" value="1MOlDt4hwd6SrGJ46GGJ2HOQ" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>